form {
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  justify-content: start;
  gap: 2rem;
  border: var(--beige-medium) 2px solid;
  margin: auto;
  padding: 20px;
  background: rgba(245, 245, 220, 0.582);
  backdrop-filter: (40px);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.title {
  text-align: center;
  width: 100%;
  font-size: var(--large);
  background: linear-gradient(45deg, var(--green-60), var(--beige-medium));
  background-clip: text;
  color: transparent;
}
label {
  font-size: var(--medium);
  color: var(--green-80);
}
.form-group {
  width: 100%;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #4a7c59; /* Green border */
  border-radius: 5px;
  font-size: 16px;
}
.btn{
  width: 100%;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #1d976c 0%,
    #93f9b9 51%,
    #1d976c 100%
  );
}
.btn-grad {
  margin: 10px auto;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  border: none;
  cursor: pointer;
}

.btn-grad:not(:disabled):hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

button:disabled {
  background: var(--green-20);
  cursor: not-allowed;
}

.success {
  color: #2d6a4f;
  font-weight: bold;
}

.error {
  color: #d9534f;
  font-weight: bold;
}

@media only screen and (max-width: 680px) {
  .title{
    font-size: var(--medium);
  }
  label{
    font-size: var(--normal);
  }
  form{
    gap: 1rem;
  }
}