<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo">
      <img
        src="https://res.cloudinary.com/derpvdhiz/image/upload/v1741783816/hdki5eysbwkoasfkbf28.png"
        alt="Sweils Logo"
      />
    </div>
    <div class="links-wrapper">

   
    <nav class="footer-links links">
      <a href="#">Home</a>
      <a href="#about-us">About</a>
      <a href="#contact">Contact</a>
    </nav>

    <div class="footer-contact links">
      <p><i class="fas fa-phone"></i> +20 109 970 6165</p>
    </div>

    <div class="footer-social links">
      <a
        href="https://www.facebook.com/profile.php?id=61568072971977"
        aria-label="Facebook"
        ><i class="fab fa-facebook"></i
      ></a>
      <a href="https://www.instagram.com/sweils.eg/" aria-label="Instagram"
        ><i class="fab fa-instagram"></i
      ></a>
    </div>
  </div>
  </div>


  <div class="footer-bottom">
    <p>© 2025 Sweils. All rights reserved.</p>
  </div>
</footer>
