<nav class="navbar">
  <div class="content">
    <ul class="nav-items">
      <ul class="logo">
        <li><a routerLink="#">
          <img src="/assets/sweils/Logo.png" alt="">
        </a></li>
      </ul>
      <ul class="features">
        <li class="about"><a href="#about">About Us</a></li>
        <li class="menu"><a routerLink="/menu">Menu</a></li>
        <li class="contact"><a href="#contact">Contact Us</a></li>
      </ul>
      <ul class="order">
        <li><a href="/order">Order Now</a></li>
      </ul>
    </ul>
  </div>
</nav>
