<div class="page home" >
  <app-navbar></app-navbar>
  <div class="main-content">
    <section class="head">
      <p>Indulge in Sweetness, Stay Healthy</p>
      <div class="scroll-down"></div>

    </section>

    <section class="sec1 hero">
      <figure class="svg-container">
        <svg
          width="720"
          height="1056"
          viewBox="0 0 738 1056"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            opacity="0.4"
            d="M602 345V842H136V345C136 216.318 240.318 112 369 112C497.682 112 602 216.318 602 345Z"
            stroke="url(#paint0_linear_8931_12407)"
            stroke-width="6"
          />
          <path
            opacity="0.5"
            d="M674 362V955H64V362C64 193.553 200.553 57 369 57C537.447 57 674 193.553 674 362Z"
            stroke="url(#paint1_linear_8931_12407)"
            stroke-width="4"
          />
          <path
            opacity="1"
            d="M737 369V1055H1V369C1 165.759 165.759 1 369 1C572.241 1 737 165.759 737 369Z"
            stroke="url(#paint2_linear_8931_12407)"
            stroke-width="2"
          />
          <defs>
            <linearGradient
              id="paint0_linear_8931_12407"
              x1="383.053"
              y1="-80.4899"
              x2="383.053"
              y2="774.965"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#4CAF50" />
              <stop offset="1" stop-color="#4CAF50" stop-opacity="0" />
            </linearGradient>
            <linearGradient
              id="paint1_linear_8931_12407"
              x1="387.376"
              y1="-179.438"
              x2="387.376"
              y2="872.35"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#4CAF50" />
              <stop offset="1" stop-color="#4CAF50" stop-opacity="0" />
            </linearGradient>
            <linearGradient
              id="paint2_linear_8931_12407"
              x1="391.16"
              y1="-276.248"
              x2="391.16"
              y2="957.851"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#4CAF50" />
              <stop offset="1" stop-color="#4CAF50" stop-opacity="0" />
            </linearGradient>
          </defs>
        </svg>

        <figcaption>
          Indulge guilt-free <br />
          where sweetness meets wellness!
        </figcaption>

        <!-- Rainbow Container -->
        <div class="rainbow-container">
          <div class="ing-container">
            <img
              src="/assets/ingredients/almonds.webp"
              alt=""
              class="ingredients ing1"
            />
            <img
              src="/assets/ingredients/chocolate.webp"
              alt=""
              class="ingredients ing2"
            />
            <img
              src="/assets/ingredients/dates.webp"
              alt=""
              class="ingredients ing3"
            />
            <img
              src="/assets/ingredients/milk.webp"
              alt=""
              class="ingredients ing4"
            />
            <div class="special ingredients">
              <img src="/assets/sweils/logo-orange.png" alt="" class="special-ing" />
            </div>
            <img
              src="/assets/ingredients/peanuts.webp"
              alt=""
              class="ingredients ing6"
            />
            <img
              src="/assets/ingredients/oats.webp"
              alt=""
              class="ingredients ing7"
            />
            <img
              src="/assets/ingredients/cocoanut.webp"
              alt=""
              class="ingredients ing8"
            />
            <img
              src="/assets/ingredients/egg.webp"
              alt=""
              class="ingredients ing9"
            />
          </div>
        </div>
        
      </figure>
    </section>
    <section id="about-us" class="about-us">
      <div class="container">
        <h1 class="title">About Us</h1>
        <p class="description">
          Born in the heart of Egypt, <strong>Sweils</strong> is here to redefine indulgence. We craft desserts using <span>nature's finest ingredients</span>, blending taste and wellness in every bite. Our creations are a celebration of purity and flavor, designed to satisfy your cravings while nourishing your body.
        </p>
        <p class="vision">
          At Sweils, we create more than desserts — <span>we create guilt-free, wholesome experiences</span> that are as delicious as they are nourishing. Join us in embracing a future of healthy indulgence.
        </p>
      </div>
    </section>    
    <section class="img img1">
      <figure class="container">
        <img src="/assets/sweils/2.webp" alt="" />
      </figure>
    </section>
   
    <section class="features">
      <div class="sub2">
        <figure>
          <img src="/assets/food/6.webp" alt="Healthy Dessert" />
        </figure>
      </div>
      <div class="sub1">
        <div class="content">
          <p>
            Enjoy wholesome treats made from real ingredients <br />
            With no refined sugars or artificial additives
          </p>
        </div>
      </div>
    </section>


    <section class="healthy">
      <div class="sub1">
        <div class="content">
          <h2>Wholesome Treats <br> Purely Made</h2>
        </div>
      </div>
      <div class="sub2">
        <div class="content">
          <div class="cards">
            <div class="card">
              <img src="/assets/icons/nosugar.png" alt="" class="icon" />
              <p>No refined sugar</p>
            </div>
            <div class="card">
              <img src="/assets/icons/nature.png" alt="" class="icon" />
              <p>Pure Ingredients, Unmatched Taste</p>
            </div>
            <div class="card">
              <img src="/assets/icons/handmade.png" alt="" class="icon" />
              <p>Handcrafted Goodness in Every Bite</p>
            </div>
            <div class="card">
              <img src="/assets/icons/heart.png" alt="" class="icon" />
              <p>Sweet Natural Irresistible</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="img img2">
      <figure class="container">
        <img src="/assets/media/5.jpg" alt="" />
      </figure>
    </section>

    <section id="contact" class="contact">
      <div class="sub1">
        <div class="content">

          <h1>Get in Touch</h1>
          <p>Have a question or special request? <br>Send us a message!</p>
        </div>
      </div>
      <div class="sub2">
        <app-contact></app-contact>
      </div>
    </section>
  </div>
</div>
