<app-navbar></app-navbar>
<div class="page">
  <section class="cover-sec">
    <div class="cover-content">
      <h2>
        Explore Our Sweets Now
      </h2>
      <a class="btn-grad" href="https://wa.me/+201099706165" target="_blank">
        Order 
      </a>
    </div>
    <figure class="images-wrapper" #imagesWrapperEl>
      <img class="image img-1 show" src="/assets/food/1.webp" alt="">
      <img class="image img-2" src="/assets/food/2.webp" alt="">
      <img class="image img-3" src="/assets/food/3.webp" alt="">
      <img class="image img-4" src="/assets/food/4.webp" alt="">
      <img class="image img-5" src="/assets/food/5.webp" alt="">
    </figure>
    <div class="bullets-wrapper">
      <div class="bullets">
        <span data-value="1" class="active bullet"></span>
        <span class="bullet" data-value="2"></span>
        <span class="bullet" data-value="3"></span>
        <span class="bullet" data-value="4"></span>
        <span class="bullet" data-value="5"></span>
      </div>
    </div>
  
</section>
<section class="menu">
  <div class="content">
    <img src="/assets/sweils/Menu.webp" alt="">

  </div>
</section>
<section class="ingredients">
  <div class="content">
    <img src="/assets/sweils/Sweils Ingredients.webp" alt="">

  </div>
</section>
</div>